<div class="body" style="background-color: gainsboro">

<h1>Log In</h1>

<% if @error != nil %>
<div class="container">
  <div class="alert alert-warning"><strong><%=@error%></strong></div>
</div>
<% end %>

<form action="/login" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username"><br><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit" value="Submit">
</form>

</div>