<h1>Destinations</h1>

<a href="/destinations/new">Add a Destination</a>

<%@destinations.each do |d|%>
    <h2><a href="/destinations/<%=d.id%>"><%=d.name%></a></h2>
    <img src="<%=d.image%>" alt = "destination">
<%end%>