<h2>Where do you want to travel to?</h2>

<% if @error != nil %>
<div class="container">
<div class="alert alert-warning"><strong><%=@error%></strong></div>
</div>
<% end %>

<form action="/destinations" method="post">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name"><br><br>
  <label for="image">Image Link:</label>
  <input type="text" id="image" name="image"><br><br>
  <label for="location">Location:</label>
  <input type="text" id="location" name="location"><br><br>
  <label for="things_to_do">Things To Do:</label>
  <input type="text" id="things_to_do" name="things_to_do"><br><br>
  <label for="ideal_time_to_vist">Best Time To Visit:</label>
  <input type="text" id="ideal_time_to_vist" name="ideal_time_to_visit"><br><br>
  <label for="currency">Currency:</label>
  <input type="text" id="currency" name="currency"><br><br>
  <input type="submit" value="Submit">
</form>