<div class="body" style="background-color: gainsboro">

<h1>Where do you want to travel to?</h1>

<% if @error != nil %>
<div class="container">
<div class="alert alert-warning"><strong><%=@error%></strong></div>
</div>
<% end %>

<form action="/destinations" method="post">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name"><br><br>
  <label for="image">Image Link:</label><br>
  <input type="text" id="image" name="image"><br><br>
  <label for="location">Location:</label><br>
  <input type="text" id="location" name="location"><br><br>
  <label for="things_to_do">Things To Do: </label><br>
  <textarea id="things_to_do" name="things_to_do" rows="3" cols="20"></textarea><br><br>
  <label for="ideal_time_to_vist">Best Time To Visit:</label><br>
  <input type="text" id="ideal_time_to_vist" name="ideal_time_to_visit"><br><br>
  <label for="currency">Currency:</label><br>
  <input type="text" id="currency" name="currency"><br><br>
  <input type="submit" value="Submit">
</form>

</div>