<div class="container">
  <div class="jumbotron">

    <div class="text-center">
<h1>Welcome To The Travel Keeper!</h1>

  <h2>Where do you want to escape to?</h2>
    
    <h3><a href="/signup">Sign up</a> or <a href="/login">log in</a> to add a dream destination to your Travel Keeper!</h3>

<img src="https://www.tripsavvy.com/thmb/7pEOGMVeCbvcNmT60iqYPH-J6-A=/2119x1415/filters:fill(auto,1)/panoramic-view-nature-landscape-in-south-island-new-zealand-898280184-b1d7fd1b8e86441083b564d31a75066e.jpg" class="rounded float-start" alt="South Island">
<img src="https://i.pinimg.com/736x/92/6d/24/926d24e217a99494f64771262f7cdac2.jpg" class="rounded float-start" alt="Travel"
    </div>
  </div>
</div>
