<div class="text-center">
<h1>Welcome To The Travel Keeper!</h1>

  <h2>Where do you want to escape to?</h2>
    
    <h3>Sign Up Or Log In To Add A Dream Destination!</h3>


<img src="https://www.tripsavvy.com/thmb/7pEOGMVeCbvcNmT60iqYPH-J6-A=/2119x1415/filters:fill(auto,1)/panoramic-view-nature-landscape-in-south-island-new-zealand-898280184-b1d7fd1b8e86441083b564d31a75066e.jpg" class="rounded float-start" alt="South Island">
<img src="https://cdn.londonandpartners.com/visit/general-london/areas/river/76709-640x360-houses-of-parliament-and-london-eye-on-thames-from-above-640.jpg" class="rounded float-start" alt="London">
</div>